<!-- <app-banner></app-banner> -->
<div class="products">
    <div class="product">
        <mat-card>
            <p>X-Box one x 1TB</p>
            <p>$ <strong>450</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41wNqTxUoGL.jpg" alt="" class="product_image" />
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>X-Box one x 1TB</p>
            <p>$ <strong>450</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41wNqTxUoGL.jpg" alt="" class="product_image" />
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>X-Box one x 1TB</p>
            <p>$ <strong>450</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41wNqTxUoGL.jpg" alt="" class="product_image" />
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>X-Box one x 1TB</p>
            <p>$ <strong>450</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41wNqTxUoGL.jpg" alt="" class="product_image" />
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>X-Box one x 1TB</p>
            <p>$ <strong>450</strong></p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/41wNqTxUoGL.jpg" alt="" class="product_image" />
            <button>Add to cart</button>
        </mat-card>
    </div>
</div>